[submodule "roundstack-landing/lib/forge-std"]
	path = roundstack-landing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "roundstack-landing/lib/openzeppelin-contracts"]
	path = roundstack-landing/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
